In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [4]:
with open('alameda_county_data_200114.pickle','rb') as read_file:
    df = pickle.load(read_file)

In [5]:
df.head()

,City,Zip,Neighborhood,Address_1,Address_2,Price,Beds,Baths,Half_Baths,Sq_Footage,...,Half_Baths,MLS #,Furnished,MLS Type,Year Built,County,laundry_type,laundry_snippet,parking_spots,parking_snippet
0,Oakland,94618,Parkwoods,240 Caldecott Lane,Unit 314,2500.0,1.0,1.0,0.0,773,...,0.0,511967,-,Apartment Lease / Apartment,1996,Alameda County,1,ppliances plus full size in-unit washer dryer....,parking,raditionalparking typedesignated on site
1,Albany,94706,Hillside,625 Jackson Street,Unit 2,2850.0,2.0,2.0,0.0,1112,...,0.0,40933893BR,-,Residential Lease,-,Alameda County,0,none,parking_unknown,esignated parking space in the carport.
2,Emeryville,94608,North Hollis,1254 65th Street,N/A,4250.0,2.0,2.0,1.0,1296,...,1.0,40932990,-,LEASE RENTAL / Apartment/Condo for Rent,2003,Alameda County,1,"woodlaundry: in closet, in unitpool type: non...",parking_unknown,"es2garage/parkingspace per unit - 2, tan"
3,Berkeley,94702,Poet's Corner,1338 Addison Street,N/A,2375.0,2.0,1.0,0.0,600,...,0.0,40933389BR,-,Residential Lease,-,Alameda County,0,none,parking_unknown,nstate: caparkingcovered parking: 0parki
4,Emeryville,94608,Watergate,4 Anchor Drive,Unit F241,2275.0,1.0,1.0,0.0,660,...,0.0,40933210,-,LEASE RENTAL / Apartment/Condo for Rent,1973,Alameda County,0,none,parking_unknown,"es1garage/parkingspaces - assigned, spac"

In [32]:
df.Price.describe()

              Price         Price
count  1.900000e+02  1.900000e+02
mean   2.276953e+04  2.276953e+04
std    2.718376e+05  2.718376e+05
min    1.000000e+00  1.000000e+00
25%    2.295000e+03  2.295000e+03
50%    2.625000e+03  2.625000e+03
75%    3.398750e+03  3.398750e+03
max    3.750000e+06  3.750000e+06

In [33]:
sns.histplot(data = df, x = 'Price')

AttributeError: module 'seaborn' has no attribute 'histplot'